<link rel="stylesheet" href="/css/header.css">

<header>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img class="logo" src="/images/limousine.svg">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    
                    <!-- drop down link -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"  href="#">Our Services</a>
                    
                    <ul class="dropdown-menu  bg-light" aria-labelledby="navbarDropdown ">
                        <li><a class="dropdown-item " href="#">Fleet Service</a></li>
                        <li><a class="dropdown-item" href="#">Airport Limo Service</a></li>
                        <li><a class="dropdown-item" href="#">Wedding Limo Service</a></li>
                        <li><a class="dropdown-item" href="#">Chauffer Limo Service</a></li>
                        <li><a class="dropdown-item" href="#">Prom Limo Service</a></li>
                        <li><a class="dropdown-item" href="#">Child Seat Limo Service</a></li>
                        <li><a class="dropdown-item" href="#">Niagra Falls Service</a></li>
                        <li><a class="dropdown-item" href="#">Night Out Service</a></li>
                        <li><a class="dropdown-item" href="#">Casino Limo Service</a></li>
                        <li><a class="dropdown-item" href="#">Funeral Limo Service</a></li>
                        <li><a class="dropdown-item" href="#">Corporate Limo Service</a></li>
                        <li><a class="dropdown-item" href="#">Torronto Maple Leaf Limo</a></li>
                        <li><a class="dropdown-item" href="#">Torronto Blue Jays Limo</a></li>
                        <li><a class="dropdown-item" href="#">Torronto FC Soccer Limo</a></li>
                        <li><a class="dropdown-item" href="#">Torronto Argonauts Limo</a></li>
                        <li><a class="dropdown-item" href="#">Airport Raptors Limo</a></li>
                       
                    </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false" href="#">Airport Services </a> 
                    
                        <ul class="dropdown-menu  bg-light" aria-labelledby="navbarDropdown ">
                            <li><a class="dropdown-item " href="#">Torronto Pearson Airport</a></li>
                            <li><a class="dropdown-item" href="#">Buttonville Municipal Airport</a></li>
                            <li><a class="dropdown-item" href="#">Billy Bishop Toronto City Centre Airport</a></li>
                            <li><a class="dropdown-item" href="#">Hamilton International Airport </a></li>
                            <li><a class="dropdown-item" href="#">Niagra Falls International Airport</a></li>
                            <li><a class="dropdown-item" href="#">Buffalo Niagra International Airport</a></li>
                            <li><a class="dropdown-item" href="#">Chartright (Torronto Pearson Airport)</a></li>
                            <li><a class="dropdown-item" href="#">Landmark Aviation (Torronto Pearson Airport)</a></li>
                            <li><a class="dropdown-item" href="#">SkyService Esso Avitat(Torronto Pearson Airport)</a></li>
                            
                    
                        </ul>
                    </li>
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false" href="#">City Services </a>
                    
                        <ul class="dropdown-menu  bg-light" aria-labelledby="navbarDropdown ">
                            <li><a class="dropdown-item " href="#">Ajax City Executive Limo</a></li>
                            <li><a class="dropdown-item" href="#">Aldershot City Executive Limo </a></li>
                            <li><a class="dropdown-item" href="#">Alliston City Executive Limo </a></li>
                            <li><a class="dropdown-item" href="#">Alton City Executive Limo </a></li>
                            <li><a class="dropdown-item" href="#">Bracebridge City Executive Limo</a></li>
                            <li><a class="dropdown-item" href="#">Brampton City Executive Limo </a></li>
                            <li><a class="dropdown-item" href="#">Brockville City Executive Limo</a></li>
                            <li><a class="dropdown-item" href="#">Brooklin City Executive Limo</a></li>
                            <li><a class="dropdown-item" href="#">Brougham City Executive Limo</a></li>
                            <li><a class="dropdown-item" href="#">Collingwood City Executive Limo</a></li>
                            <li><a class="dropdown-item" href="#">Concord City Executive Limo</a></li>
                            <li><a class="dropdown-item" href="#">Cookstown City Executive Limo</a></li>
                            <li><a class="dropdown-item" href="#">Courtice City Executive Limo</a></li>
                            <li><a class="dropdown-item" href="#">Erin City Executive Limo</a></li>
                            <li><a class="dropdown-item" href="#">Etobicoke City Executive Limo</a></li>
                            <li><a class="dropdown-item" href="#">Fenelon Falls City Executive Limo</a></li>
                            <li><a class="dropdown-item" href="#">Grand Valley City Executive Limo</a></li>
                            <li><a class="dropdown-item" href="#">Inglewood City Executive Limo</a></li>
                        </ul>
                    </li>


                    <!-- <li class="nav-item">
                        <a class="nav-link" href="/cars">Cars</a>
                    </li> -->
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="/cars/new">New Car</a>
                    </li> -->


                    <!-- <li class="nav-item">
                        <a class="nav-link" href="/limos">Limos</a>

                    </li> -->
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="/limos/new"> Add Limo</a>
                    
                    </li> -->

                <span class="navbar-text ms-2 fw-bold">
                    Phone : +1-647-889-6286
                </span>
                
                <span class="navbar-text ms-2 fw-bold">
                    Email : limotaxitours@gmail.com
                </span>

                   
                    
                </ul>

                

                
            </div>
        </div>
    </nav>





</header>