<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="css/styles.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.1/css/all.min.css" />


<div class="container-fluid mt-5">



        <form class="form-floating" action="/booking" method='POST' id='form-data'>

            <div class="row g-0  mb-5">
                <div class="col-md-3 ">
                    <div class="form-floating ">
                        <input type='text' id='from' placeholder="From" class='form-control' name='from' value=""
                            required>
                        <label class="fw-bold fs-5" id='details' for="floatingInputGrid"> Pick Up Location</label>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-floating">
                        <input type="text" id='to' placeholder="Destination" class="form-control" name='to' value="">
                        <label class="fw-bold fs-5" for="floatingInputGrid">Drop off Destination</label>

                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-floating">
                        <select class="form-select" id="people" name='people'
                            aria-label="Floating label select example">
                            <option selected>1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                        </select>
                        <label class="fw-bold fs-5" for="floatingSelectGrid">People</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-floating">
                        <select class="form-select" id="bags" name='bags' aria-label="Floating label select example">
                            <option selected>1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>

                        </select>
                        <label class="fw-bold fs-5" for="floatingSelectGrid">Bags</label>
                    </div>

                </div>

                <div class="col-md-2 dropdown">
                <div class="form-floating">
                    <button class="btn btn-light btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
                        aria-expanded="true">
                        Select Limo Type
                </button>
                    
                    <!-- <ul class="" aria-labelledby="dropdownMenuLink"> -->
                    <select id='social' name='limo' style='width: 300px;'>
                        <option value="sedan">Sedan &nbsp;&nbsp;<p class='fst-italic'>55$/HR</p>
                        </option>
                        <option value="suv">SUV &nbsp;&nbsp;&nbsp;<span>75$/HR</span></option>
                        <option value="largesuv">Large SUV &nbsp;&nbsp;<span>95$/HR</span></option>
                        <option value="van">Van &nbsp;&nbsp; <span>115$/HR</span></option>
                        <option value="largevan">Large Van &nbsp;&nbsp;<span>135$/HR</span></option>
                    </select>
                        <!-- </ul> -->
                       
                </div>

                    
                
                    <!-- <button type='button' class='btn btn-info next'>Next</button> -->
                    <!-- <input class='btn btn-info' name='SubmitButton' type='submit' value='submit'> -->


                </div>
            </div>

            <div class="row g-0 mb-5">
                <div class="col-md-4">
                    <label for='name'> Name</label>
                    <input type='text' id='name' name='name'>
                </div>
                <div class="col-md-4">
                    <label for='email'>Email</label>
                    <input type='email' id='email' name='email'>

                </div>
                <div class="col-md-4">
                    <label for='phone'>Phone</label>
                    <input type='number' id='phone' name='phone'>

                </div>
                <!-- <div class="col-md-3">
                    <button type='button' class='btn btn-warning prev'>Prev</button>
                    <button type='button' class='btn btn-info next'>Next</button>

                </div> -->

            </div>

            <div class="row g-1 mb-5">
                <div class="col-md-4">

                    <label for='payment'>Card Info</label>
                   
                    <div class="card credit  ">
                        <img src="/images/card.jpg" class="img-fluid" alt="...">

                        <div class="card-img-overlay">
                            <!-- <h3 class="card__title">Enter Payment Information</h3> -->


                            <label for="cardNumber" class="card__label">Card Number</label>
                            <input type="text" class="card__input card__input--large" id="cardNumber"
                                placeholder="xxxx-xxxx-xxxx-xxxx" name='cardNumber' />

                            <!-- <div class="col-md card__chip">
                                <img src="/images/chip.svg" alt="chip" />
                            </div> -->
                            <label for="cardExpiry" class="card__label">Expiry Date</label><input type="text"
                                class="card__input" id="cardExpiry" placeholder="xx/xx" name='expiryDate' />
                            <label for="cardCcv" class="card__label">CCV</label><input type="text" class="card__input"
                                id="cardCcv" placeholder="xxx" name='cardCcv' />

                            <div class="card__brand"><i id="cardBrand"></i></div>

                            <!-- </div>  -->

                        </div>
                    </div>
                </div>


                <div class="col-md-4">
                    <label for='date'>Pickup Date and Time</label>

                    <input type="number" id="basicDate" placeholder="Please select Date Time" name='pickupDate'
                        data-input>

                </div>



                <div class="col-md-2">
                    <div class="form-floating">
                        <select class="form-select" id="childSeat" name='childSeat' aria-label="Floating label select example">
                            <option selected>yes</option>
                            <option value="no">no</option>
                            
                         
                
                        </select>
                        <label class="fw-bold fs-5" for="floatingSelectGrid">Child Seat</label>
                    </div>
                
                </div>

                <!-- <div class="col-md-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate" name='childSeat'>
                        <label class="form-check-label" for="flexCheckIndeterminate">
                            Child Seat 
                        </label>
                    </div>

                </div>
                
               
            </div> -->

            <div class="row g-1 mb-5">
                <div class="col-md-3">
                
                    <!-- <button type='button' class='btn btn-warning prev'>Prev</button> -->
                    <button type='submit' class='btn btn-success submit'>Book </button>
                
                </div>


            </div>



    
    </form>
    </div>



<!-- form validation script cleave js-->


<script src="https://cdn.jsdelivr.net/npm/cleave.js@1.6.0/dist/cleave.min.js"></script>
<script src="../javascripts/credit.js"></script>


<!-- flatcpickr script -->
<script src="../javascripts/datepicker.js"></script>

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>


<!-- select script -->
<script>

    $(document).ready(function () {
        $("#social").select2({
            templateResult: formatOptions
        });
    });

    function formatOptions(state) {
        if (!state.id) { return state.text; }
        var $state = $(
            '<span ><img sytle="display:block;" src="images/vehicles/' + state.element.value.toLowerCase() + '.jpg" /> ' + state.text + '</span>'
        );
        return $state;
    }

</script>

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


<script>
    let autocomplete;
    function initAutocomplete() {

        var options = {
            types: ["establishment", "geocode"],
            componentRestrictions: { 'country': ['CA'] },
            fields: ['place_id', 'geometry', 'name']
        }

        var input1 = document.getElementById('from');
        var autocomplete1 = new google.maps.places.Autocomplete(input1, options)

        var input2 = document.getElementById('to');
        var autocomplete2 = new google.maps.places.Autocomplete(input2, options)



    }


</script>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPVTJqtbtQxwLaBcdwGIv56MuSSJqXXoY&libraries=places&callback=initAutocomplete">
    </script>