nav {
  height: 100%;
}

a:hover {
  color: #fd7e14 !important ;
  text-decoration: underline;
}

.nav-link {
  padding-right: 1rem;
  /* padding-left: 2rem; */
  color: white;
  font-weight: bold;
}

.navbar-brand {
  font-size: 24px;
  color: black;
  text-decoration: none;
  font-weight: bold;
  padding-right: 7rem;
}

.dropdown-item {
  color: azure;
  background-color: black;
}

.navbar-text {
  padding-right: 3rem;
  font-style: italic;
}

.logo {
  padding-right: 5rem;
}
