@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Poppins", sans-serif;
}

.heading {
  z-index: 4;
  position: absolute;
  top: 25%;
  left: 35%;
  color: white;
  font-weight: bold;
}

/* .bg {
  width: 100%;
} */

.services {
  z-index: 9;
  position: absolute;
  top: 30%;
  left: 40%;

  font-size: 18px;
  font-weight: bold;
}

.form-input {
  display: flex;
  justify-content: center;
}

.details {
  display: flex;

  z-index: 9;
  position: absolute;
  top: 90%;
}

.info {
  position: center;
}

.offers {
  color: #fd7e14;
}

.card:hover {
  color: #fd7e14 !important ;
  text-decoration: underline;
}

.card-text {
  color: grey;
}

.vehicles {
  margin: 0 auto; /* Added */
  float: left; /* Added */
  margin-bottom: 10px; /* Added */
}

.calculator {
  align-items: center;
  justify-content: center;
  z-index: 4;
}

.promise {
  position: relative;
  top: 10%;
  left: 10%;
}

.whatsapp {
  position: fixed;
  bottom: 40px;
  right: 20px;
}
